/* Fonts */

@font-face {
  font-family: Praktika;
  src: url( font/Praktika-Bold.woff ) format( 'woff' );
  font-weight: normal;
}

@font-face {
  font-family: Praktika;
  src: url( font/Praktika-Black.woff ) format( 'woff' );
  font-weight: bold;
}

@font-face {
  font-family: Smart;
  src: url( font/SmartFontUI.woff ) format( 'woff' );
}

/* fullPage */

html, body {
  overflow: hidden;
  height: 100%;
}

/* Main */

body {
  color: #646464;
  font-size: 12px;
  line-height: 16px;
  font-family: Praktika;
  letter-spacing: .5px;
  background: url( ../img/background.png );
  background-size: cover;
}

section#pages article.page {
  position: relative;
  z-index: 5;
}

section#pages article.page div.main {
  width: 950px;
  height: 510px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -255px;
  margin-left: -475px;
  overflow: hidden;
}

/* Logo */

header {
  top: 50px;
  left: 75px;
  position: fixed;
}

header div#header-image, header div#header-name {
  float: left;
}

header div#header-image {
  width: 20px;
  height: 20px;
}

header div#header-image img {
  width: 100%;
  height: 100%;
}

header div#header-name {
  margin-left: 10px;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}

/* Navigation */

nav#primary {
  color: #c8c8c8;
  font-weight: bold;
  top: 50%;
  left: 75px;
  position: fixed;
  z-index: 6;
}

nav#primary .menu {
  margin-top: 25px;
}

nav#primary .menu:first-child {
  margin-top: 0;
}

nav#primary .menu.active {
  color: #646464;
}

nav#secondary {
  color: #c8c8c8;
  font-weight: bold;
  top: 50%;
  right: 75px;
  text-align: right;
  position: absolute;
  z-index: 6;
}

nav#secondary div#secondary-label {
  color: #646464;
}

nav#secondary div#secondary-border {
  margin-top: 15px;
  margin-bottom: 15px;
}

nav#secondary div#secondary-border:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '.'
}

nav#secondary div#secondary-border div {
  width: 15px;
  height: 1px;
  background: #646464;
  float: right
}

nav#secondary div.menu {
  margin-top: 10px;
}

nav#secondary div.menu:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '.'
}

nav#secondary div.menu div.name {
  float: right;
  color: #c8c8c8;
}

nav#secondary div.menu div.circle {
  float: right;
  width: 5px;
  height: 5px;
  background: #646464;
  border-radius: 100%;
  margin: 5.5px 0;
  margin-right: 3px;
  margin-left: 10px;
}

nav#secondary div.menu.active div.name {
  color: #646464;
}

nav#secondary div.menu.active div.circle {
  float: right;
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 100%;
  margin: 3.5px 0;
  border: 2px solid #c8c8c8;
  margin-right: 1px;
  margin-left: 8px;
}

/* Footer */

footer {
  left: 75px;
  bottom: 50px;
  position: fixed;
  z-index: 6;
}

footer div.link {
  float: left;
  margin-left: 20px;
}

footer div.link:first-child {
  margin-left: 0;
}

footer div.link a img {
  height: 13px;
}

/* Contents */

/* Top */

article#pages-top div.line#pages-top-top-left {
  top: 0;
  left: 0;
  transform: rotate( 0deg );
}

article#pages-top div.line#pages-top-bottom-left {
  bottom: 0;
  left: 0;
  transform: rotate( 270deg );
}

article#pages-top div.line#pages-top-top-right {
  top: 0;
  right: 0;
  transform: rotate( 90deg );
}

article#pages-top div.line#pages-top-bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate( 180deg );
}

article#pages-top div.line {
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: .1
}

article#pages-top div.line div.vertical {
  width: 5px;
  height: 25px;
  background: #646464;
  top: 0;
  left: 0;
  position: absolute;
}

article#pages-top div.line div.horizontal {
  width: 25px;
  height: 5px;
  background: #646464;
  top: 0;
  left: 0;
}

article#pages-top div#pages-top-logo {
  text-align: center;
  width: 100%;
  height: 50px;
  top: 50%;
  position: absolute;
  margin-top: -25px;
}

article#pages-top div#pages-top-logo div#pages-top-logo-image {
  height: 20px;
}

article#pages-top div#pages-top-logo div#pages-top-logo-image img {
  width: 100%;
  height: 100%;
}

article#pages-top div#pages-top-logo div#pages-top-logo-name {
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  letter-spacing: 5px;
  font-weight: bold;
}

article#pages-top div#pages-top-urge-scroll {
  color: #c8c8c8;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  top: 50%;
  left: 0;
  width: 100%;
  position: absolute;
  margin-top: 75px;
}

article#pages-top div#pages-top-urge-scroll div#pages-top-urge-scroll-image img {
  width: 15px;
}

/* About me */

article#pages-aboutme div#pages-aboutme-container {
  padding: 50px;
  width: 380px;
  height: 335px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -217.5px;
  margin-left: -240px;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba( 0, 0, 0, .05 );
}

article#pages-aboutme div#pages-aboutme-container div#pages-aboutme-name {
  font-size: 25px;
  line-height: 31px;
}

article#pages-aboutme div#pages-aboutme-container div#pages-aboutme-screenname {
  font-size: 12px;
}

article#pages-aboutme div#pages-aboutme-container .label {
  color: #c8c8c8;
  margin-top: 20px;
}

article#pages-aboutme div#pages-aboutme-container .text {
  font-size: 15px;
  line-height: 18px;
}

/* Articles */

article#pages-articles-container {
  padding: 0 5px;
}

article#pages-articles div#pages-articles-title {
  font-size: 25px;
  line-height: 33px;
  font-family: Praktika;
  font-weight: bold;
}

article#pages-articles div#pages-articles-description {
  font-family: Praktika;
  font-weight: bold;
  color: #c8c8c8;
}

article#pages-articles div#pages-articles-articles {
  top: 50%;
  height: 210px;
  margin-top: -105px;
  position: absolute;
}

article#pages-articles div#pages-articles-articles:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '.'
}

article#pages-articles div#pages-articles-articles div.article {
  width: 280px;
  height: 210px;
  box-shadow: 0 5px 10px rgba( 0, 0, 0, .05 );
  background: #ffffff;
  float: left;
  margin-left: 50px;
  border-radius: 3px;
  font-family: Smart;
  position: relative;
}

article#pages-articles div#pages-articles-articles div.article:first-child {
  margin-left: 0
}

article#pages-articles div#pages-articles-articles div.article div.title {
  font-size: 15px;
  line-height: 20px;
  top: 25px;
  left: 25px;
  position: absolute;
}

article#pages-articles div#pages-articles-articles div.article div.body {
  top: 65px;
  width: 230px;
  left: 25px;
  position: absolute;
  height: 84px;
  color: #c8c8c8;
  letter-spacing: 0;
}

article#pages-articles div#pages-articles-articles div.article div.date {
  color: #c8c8c8;
  bottom: 25px;
  left: 25px;
  position: absolute;
  font-family: Praktika;
  font-weight: bold;
}

article#pages-articles div#pages-articles-articles div.article div.continue {
  bottom: 25px;
  right: 25px;
  position: absolute;
}

article#pages-articles div#pages-articles-articles div.article span.p {
  font-family: Praktika
}

article#pages-articles div#pages-articles-articles div.article div.more {
  text-align: center;
  top: 50%;
  width: 100%;
  position: absolute;
  margin-top: -25px
}

article#pages-articles div#pages-articles-articles div.article div.more img {
  height: 30px
}

article#pages-articles div#pages-articles-articles div.article div.more div.text {
  font-family: Praktika;
}

/* Products */

article#pages-products div.information {
  top: 0;
  left: 0;
  position: absolute;
  font-family: Praktika
}

article#pages-products div.information div.name {
  font-size: 25px;
  line-height: 31px;
}

article#pages-products div.information div.date {
  font-size: 15px;
  line-height: 18px;
  color: #c8c8c8
}

article#pages-products div.description {
  bottom: 0;
  left: 0;
  position: absolute;
  font-family: Smart;
  width: 300px;
}

article#pages-products div.description span.p {
  font-family: Praktika
}

article#pages-products div.repository {
  bottom: 0;
  right: 0;
  position: absolute;
  font-family: Praktika;
  text-align: right;
}

article#pages-products div.repository div.url {
  color: #c8c8c8
}

article#pages-products div.mockup {
  width: 760px;
  height: 345px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -172.5px;
  margin-left: -380px;
}

article#pages-products div.mockup:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '.'
}

article#pages-products div.mockup div.pc {
  width: 560px;
  height: 345px;
  box-shadow: 0 5px 10px rgba( 0, 0, 0, .05 );
  float: left;
  border-radius: 3px;
}

article#pages-products div.mockup div.pc div.header {
  width: 560px;
  height: 30px;
  border-radius: 3px 3px 0 0;
  background: linear-gradient( #FFFFFF, #FAFAFA );
}

article#pages-products div.mockup div.pc div.header div.buttons {
  padding: 11px 0;
  padding-left: 10px;
}

article#pages-products div.mockup div.pc div.header div.buttons div.button {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-left: 5px;
  float: left;
}

article#pages-products div.mockup div.pc div.header div.buttons div.button:first-child {
  margin-left: 0;
}

article#pages-products div.mockup div.pc div.header div.buttons div.button.red {
  background: #FC605C;
}

article#pages-products div.mockup div.pc div.header div.buttons div.button.yellow {
  background: #FDBC40
}

article#pages-products div.mockup div.pc div.header div.buttons div.button.green {
  background: #34C749
}

article#pages-products div.mockup div.pc div.screen {
  width: 560px;
  height: 315px;
  background: linear-gradient( to right bottom, #FFFFFF, #F5F5F5 );
  border-radius: 0 0 3px 3px;
  text-align: center;
  position: relative;
}

article#pages-products div.mockup div.pc div.screen img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 0 0 3px 3px;
  padding: 0;
  margin: 0;
}

article#pages-products div.mockup div.pc div.screen div {
  width: 100%;
  font-family: Praktika;
  color: #c8c8c8;
  font-size: 15px;
  line-height: 18px;
  top: 148.5px;
  left: 0;
  position: absolute;
}

/* SP */

article#pages-products div.mockup div.sp {
  width: 150px;
  box-shadow: 0 5px 10px rgba( 0, 0, 0, .05 );
  float: left;
  margin-top: 76.2px;
  border-radius: 3px;
  margin-left: 50px;
}

article#pages-products div.mockup div.sp div.statusbar {
  background: #fff;
  height: 5px;
  padding: 2.5px 5px;
  border-radius: 3px 3px 0 0;
  position: relative;
}


article#pages-products div.mockup div.sp div.statusbar img {
  height: 5px;
  float: left
}

article#pages-products div.mockup div.sp div.statusbar img.icon-wifi {
  margin-left: 2.5px
}

article#pages-products div.mockup div.sp div.statusbar img.icon-battery {
  float: right
}

article#pages-products div.mockup div.sp div.screen {
  width: 150px;
  height: 258.8px;
  background: linear-gradient( to right bottom, #FFFFFF, #F5F5F5 );
  border-radius: 0 0 3px 3px;
  position: relative;
}

article#pages-products div.mockup div.sp div.screen img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 0 0 3px 3px;
  padding: 0;
  margin: 0;
}

article#pages-products div.mockup div.sp div.screen div {
  width: 150px;
  font-family: Praktika;
  color: #c8c8c8;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  top: 111.4px;
  left: 0;
  position: absolute;
}

/* Experiences */

article#pages-experiences div#pages-experiences-line {
  top: 10px;
  left: 350px;
  background: #646464;
  border-radius: 3px;
  position: absolute;
  width: 5px;
  height: calc( 100% - 10px - 20px );
}

article#pages-experiences div#pages-experiences-line-bottom {
  bottom: 0;
  left: 350px;
  background: #646464;
  border-radius: 3px;
  position: absolute;
  width: 5px;
  height: 15px;
}

article#pages-experiences div#pages-experiences-contents div.content {
  margin-bottom: 50px;
}

article#pages-experiences div#pages-experiences-contents div.content:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '.'
}

article#pages-experiences div#pages-experiences-contents div.content div.left {
  text-align: right;
  width: 315px;
  padding-top: 4px;
  font-family: Smart;
  float: left
}

article#pages-experiences div#pages-experiences-contents div.content div.left div.date {
  font-family: Praktika;
  color: #c8c8c8
}

article#pages-experiences div#pages-experiences-contents div.content div.middle {
  width: 75px;
  float: left
}

article#pages-experiences div#pages-experiences-contents div.content div.middle div.circle div.inner-circle {
  width: 15px;
  height: 15px;
  margin: 2.5px;
  background: #646464;
  border-radius: 100%;
}

article#pages-experiences div#pages-experiences-contents div.content div.middle div.circle {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin: 0 25px;
  border: 2.5px solid #646464;
  background: #fff
}

article#pages-experiences div#pages-experiences-contents div.content div.right {
  float: left;
  width: 560px;
  padding-top: 4px;
  float: right;
  font-family: Smart;
}

article#pages-experiences div#pages-experiences-contents div.content div.right div.description {
  margin-top: 5px;
}

article#pages-experiences div#pages-experiences-contents div.content div.right div.url {
  font-family: Praktika;
  color: #c8c8c8
}

/* Archives and Credit */

article#pages-archives div#pages-archives-title, article#pages-credit div#pages-credit-title {
  font-size: 25px;
  line-height: 33px;
  font-family: Praktika;
  font-weight: bold;
}

article#pages-archives div#pages-archives-container, article#pages-credit div#pages-credit-container {
  margin-top: 50px;
}

article#pages-archives div#pages-archives-container:after, article#pages-credit div#pages-credit-container:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '.'
}

article#pages-archives div#pages-archives-container div.left, article#pages-credit div#pages-credit-container div.left {
  width: 450px;
  float: left;
}

article#pages-archives div#pages-archives-container div.right, article#pages-credit div#pages-credit-container div.right {
  width: 450px;
  float: right;
}

article#pages-archives div#pages-archives-container div.content, article#pages-credit div#pages-credit-container div.content {
  width: 450px;
  margin-bottom: 20px;
}

article#pages-archives div#pages-archives-container div.content div.url, article#pages-credit div#pages-credit-container div.content div.url {
  color: #c8c8c8;
}

article#pages-archives div#pages-archives-container div.content span.p, article#pages-credit div#pages-credit-container div.content span.p {
  font-family: Praktika
}
